@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-5">
    <div class="jumbotron p-5 mb-4 bg-light rounded-3 border">
        <h1 class="display-4 text-primary">Система мониторинга образовательного процесса</h1>
        <p class="lead mt-3">Добро пожаловать в ИС управления и контроля успеваемости группы оБ-531-ПИ.</p>
        <hr class="my-4">
        <p>Используйте верхнее меню для навигации между списками студентов, ведомостями оценок и аналитическими отчетами.</p>
        <div class="mt-4">
            <a href="/Students" class="btn btn-primary btn-lg me-2">Список студентов</a>
            <a href="/Grades" class="btn btn-success btn-lg">Ведомость оценок</a>
        </div>
    </div>
</div>